In [0]:
import pandas as pd
import datetime as dt

In [0]:
mm_stats = pd.read_csv('matchmaking_stats_summary.csv', parse_dates=['created_at'])
p_monthly_stats = pd.read_csv('player_monthly_stats.csv')
players = pd.read_csv('players.csv')

In [89]:
'''
Com está função podemos verificar a atividadedos players após determinada data,
muito útil para analisar a frequência de gameplay do pessoal após eventos ou
em periódos especificos.

Levei em consideração que o "Após" acontece no dia seguinte, portanto usei o 
operador > no filtro, mas poderiamos considerar => dependendo do que queriamos
analisar, pois o dataset só tem partidas registradas até o dia 06/02/2020
''' 

def checando_atividades_jogadores(date):
  filter = mm_stats['created_at'] > date

  inativos = 0
  ativos = 0

  for x in range(len(players)):
    if players['player_id'][x] in mm_stats[filter]['player_id'].values:
      ativos += 1
    else:
      inativos += 1

  return print(f'Após a data {date} registramos:\n\
  {inativos} jogadores inativos,\n\
  {ativos} jogadores ativos')

date = '2020-02-07' # Date no formato yyyy-mm-dd
checando_atividades_jogadores(date)

Após a data 2020-02-07 registramos:
  3645 jogadores inativos,
  0 jogadores ativos

Está função traz as informações solicitadas no itens 1 e 2 do aquecimento!

In [86]:
dia = mm_stats['created_at'].dt.day
dia.name = 'dia'

mm_stats = pd.concat(
    (mm_stats, dia),
    axis=1
)

mm_stats.head()

   id  player_id  matches_played  ...           updated_at  dia  dia
0 NaN     354985               1  ...  2020-02-01 00:47:32    1    1
1 NaN     152268               1  ...  2020-02-01 00:54:01    1    1
2 NaN     679247               1  ...  2020-02-01 01:00:31    1    1
3 NaN     604607               1  ...  2020-02-01 01:03:02    1    1
4 NaN     325203               1  ...  2020-02-01 01:04:02    1    1

[5 rows x 15 columns]

In [87]:
mm_february['dia'].value_counts()

2    411
5    341
6    332
4    331
1    328
3    314
Name: dia, dtype: int64

No item três do aquecimento, verifiquei que o dia 03/02/2020, foi o dia com menos jogadores ativos.